ul.footer-container__bottom-line-menu
    li.footer-container__bottom-line-menu-item
        a.footer-container__bottom-line-menu-item-link(href="my-works.html") Мои работы
    li.footer-container__bottom-line-menu-item
        a.footer-container__bottom-line-menu-item-link(href="about.html") Обо мне
    li.footer-container__bottom-line-menu-item
        a.footer-container__bottom-line-menu-item-link(href="blog.html") Блог
    li.footer-container__bottom-line-menu-item
        a.footer-container__bottom-line-menu-item-link(href="#") Авторизация