ul.menu
    li.menu__item
        a.menu__item-link(href="my-works.html") Мои работы
    li.menu__item
        a.menu__item-link(href="about.html") Обо мне
    li.menu__item
        a.menu__item-link(href="blog.html") Блог