p Я умею
    ul.technologies
        li
            img(src="assets/images/ava.jpg", alt="")
        li
            img(src="assets/images/ava.jpg", alt="")
        li
            img(src="assets/images/ava.jpg", alt="")
        li
            img(src="assets/images/ava.jpg", alt="")