extends ../template

block variables
    - var title = 'Мои работы'
block bg
block content
    .hero
        .frame.frame--about
            .frame__ava
                img.frame__ava-img(src="assets/images/ava.jpg" alt="Аватар" title="Климин Артем")
            h1.frame__name Климин Артем
            h2.frame__subName Личный сайт веб разработчика
        .treugolnik
            svg.treugolnik__left
                use(xlink:href="assets/images/sprites.svg#treugolnik1")
            svg.treugolnik__right
                use(xlink:href="assets/images/sprites.svg#treugolnik2")
            svg.arrow-scroll-down
                use(xlink:href="assets/images/sprites.svg#arrow-down")
    .my-works-container
        .my-works__title
                span.my-works__title-lines мои работы

        .grid-container
            include ../common/slider.pug

      
    .footer-container
        .container__title
            .container__title-lines Что обо мне<br>говорят
        .reviews
            ul.reviews__list
                li.reviews__list-item
                    ul.review__list
                        li.review__list-quote
                            img.review__list-quote-img(src="assets/images/quote.png", alt="")
                        li.review__list-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                        li.review__list-user
                            .review__list-user-photo-container
                                img.review__list-user-photo(src="assets/images/user1.jpg", alt="")
                            .review__list-user-info
                                .review__list-user-name Ковальчук Дмитрий
                                .review__list-user-status основатель Loftschool
                li.reviews__list-item
                    ul.review__list
                        li.review__list-quote
                            img.review__list-quote-img(src="assets/images/quote.png", alt="")
                        li.review__list-text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                        li.review__list-user
                            .review__list-user-photo-container
                                img.review__list-user-photo(src="assets/images/user2.jpg", alt="")
                            .review__list-user-info
                                .review__list-user-name Сабанцев Владимир
                                .review__list-user-status преподаватель
        .feedback
            form(action="")
                .feedback__frame
                    .feedback__frame-title
                        .feedback__frame-title-lines Связаться со мной
                    .feedback__frame-form
                        input.feedback__frame-form-name(type="text" placeholder="Имя")
                        input.feedback__frame-form-email(type="email", name="" placeholder="email")
                        textarea.feedback__frame-form-message(name="", cols="30", rows="10" placeholder="Сообщение")
                .feedback__frame-form-buttons
                    button.submit Отправить
                    button.reset Сбросить
        .to-top
            a.to-top__link(href="#")
                svg.arrow-scroll-top
                    use(xlink:href="assets/images/sprites.svg#ar-up")
        .footer-container__bottom-line
            .footer-container__bottom-line-1
                include ../common/footer-menu.pug
                ul.footer-container__bottom-line-social
                    li.footer-container__bottom-line-social-item
                        a.footer-container__bottom-line-social-item-link(href="#")
                            svg.footer-icon.vk
                                use(xlink:href="assets/images/sprites.svg#vk")
                    li.footer-container__bottom-line-social-item
                        a.footer-container__bottom-line-social-item-link(href="#")
                            svg.footer-icon.gh
                                use(xlink:href="assets/images/sprites.svg#gh")
                    li.footer-container__bottom-line-social-item
                        a.footer-container__bottom-line-social-item-link(href="#")
                            svg.footer-icon.sl
                                use(xlink:href="assets/images/sprites.svg#sl")
            .footer-container__bottom-line-2
                .footer-container__bottom-line-tiser Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках<br>обучения в Школе онлайн образования LoftSchool. 
                .footer-container__bottom-line-copyright © Владимир Астахов | создано с любовью в LoftSchool | 2016
    .humburger
        a.humburger-link(href="#")
            .humburger-lines
    .full-screen-menu
        include ../common/footer-menu.pug
    
