extends ../template

block variables
    - var title = 'Мои работы'
block bg
block content
    .hero
        .frame.frame--about
            .frame__ava
                img.frame__ava-img(src="assets/images/ava.jpg" alt="Аватар" title="Климин Артем")
            h1.frame__name Климин Артем
            h2.frame__subName Личный сайт веб разработчика
        .treugolnik
            svg.treugolnik__left
                use(xlink:href="assets/images/sprites.svg#treugolnik1")
            svg.treugolnik__right
                use(xlink:href="assets/images/sprites.svg#treugolnik2")
            svg.arrow-scroll-down
                use(xlink:href="assets/images/sprites.svg#arrow-down")
    .my-works-container
        .my-works__title
                span.my-works__title-lines мои работы

        .grid-container
            include ../common/slider.pug


        
    .footer-container
        

        .footer-container__contacts
            .footer-container__contacts-frame
                .footer-container__contacts-title
                    .footer-container__contacts-title-lines Контакты
                ul.footer-container__contacts-list
                    li.footer-container__contacts-item
                        .footer-container__contacts-item-link
                            .footer-container__contacts-item-icon
                            a.footer-container__contacts-item-link(href="#")
                                svg.footer-container__contacts-item-icon.vk
                                    use(xlink:href="assets/images/sprites.svg#skype")
                                span.footer-container__contacts-item-text yasait.ru
                    li.footer-container__contacts-item
                        .footer-container__contacts-item-link
                            .footer-container__contacts-item-icon
                            a.footer-container__contacts-item-link(href="#")
                                svg.footer-container__contacts-item-icon.vk
                                    use(xlink:href="assets/images/sprites.svg#mail")
                                span.footer-container__contacts-item-text avklimin@yandex.ru
                    li.footer-container__contacts-item
                        .footer-container__contacts-item-link
                            .footer-container__contacts-item-icon
                            a.footer-container__contacts-item-link(href="#")
                                svg.footer-container__contacts-item-icon.vk
                                    use(xlink:href="assets/images/sprites.svg#phone")
                                span.footer-container__contacts-item-text +7 921 882 36 17
                    li.footer-container__contacts-item
                        .footer-container__contacts-item-link
                            .footer-container__contacts-item-icon
                            a.footer-container__contacts-item-link(href="#")
                                svg.footer-container__contacts-item-icon.vk
                                    use(xlink:href="assets/images/sprites.svg#map-marker")
                                span.footer-container__contacts-item-text г. СПб, ул. Прибрежная д. 4
        .footer-container__bottom-line
            .footer-container__bottom-line-1
                include ../common/footer-menu.pug
                ul.footer-container__bottom-line-social
                    li.footer-container__bottom-line-social-item
                        a.footer-container__bottom-line-social-item-link(href="#")
                            svg.footer-icon.vk
                                use(xlink:href="assets/images/sprites.svg#vk")
                    li.footer-container__bottom-line-social-item
                        a.footer-container__bottom-line-social-item-link(href="#")
                            svg.footer-icon.gh
                                use(xlink:href="assets/images/sprites.svg#gh")
                    li.footer-container__bottom-line-social-item
                        a.footer-container__bottom-line-social-item-link(href="#")
                            svg.footer-icon.sl
                                use(xlink:href="assets/images/sprites.svg#sl")
            .footer-container__bottom-line-2
                .footer-container__bottom-line-tiser Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках<br>обучения в Школе онлайн образования LoftSchool. 
                .footer-container__bottom-line-copyright © Владимир Астахов | создано с любовью в LoftSchool | 2016
    .humburger
        a.humburger-link(href="#")
            .humburger-lines
    //h1 Обо мне
    //include ../common/technologies.pug
    .full-screen-menu
        include ../common/footer-menu.pug
    
