block variables

doctype html
html
    head
        meta(charset="utf-8")
        title #{title}
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        link(rel="stylesheet" href="/assets/styles/app.min.css")
        if title === 'Обо мне'
            link(rel="stylesheet" href="/assets/styles/common/about.min.css")
        else
            link(rel="stylesheet" href="/assets/styles/common/my-works.min.css")
        script(src="/assets/scripts/boundle.js" defer)
        script(src="http://maps.google.com/maps/api/js?key=AIzaSyCFhhFWoh2JdXQ23wtGBYZyp_H9Rkim2XI")

    body
        block bg
        block content