.hero {
    height: 620px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background: url(../images/about-bg.jpg) no-repeat;
    background-size: cover;
}

.frame--about {
    width: initial;
    background: transparent;
    height: min-content;
    .frame__name {
        color: #fff;
    }
    .frame__subName {
        color: rgba(255, 255, 255, .8);
    }
}

.about-container {
    background: linear-gradient(to right, #efeee9 0%, #efeee9 50%, #efebe0 50%, #efebe0 100%);
    display: block;
    position: relative;
}

.treugolnik {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -10px;
}

.humburger {
    top: 0;
    right: 0;
    position: absolute;
    z-index: 5;
}

.humburger-link {
    width: 100px;
    height: 95px;
    display: block;
    position: relative;
}

.humburger-lines {
    width: 35px;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    right: 30px;
    top: 40px;
    transition: all .2s ease-in-out;
    &:before {
        top: -11px;
        content: "";
        width: 35px;
        height: 4px;
        background-color: #fff;
        border-radius: 2px;
        display: block;
        position: absolute;
        transition: all .2s ease-in-out;
    }
    &:after {
        top: 11px;
        content: "";
        width: 35px;
        height: 4px;
        background-color: #fff;
        border-radius: 2px;
        display: block;
        position: absolute;
        transition: all .2s ease-in-out;
    }
}

.humburger-link--active .humburger-lines {
    background-color: transparent;
    &:before {
        transform: rotate(135deg);
        top: 0;
    }
    &:after {
        transform: rotate(-135deg);
        top: 0;
    }
}

.treugolnik__left,
.treugolnik__right {
    width: 50%;
    height: 150px;
}

.treugolnik__left {
    float: left;
    fill: #efeee9;
}

.treugolnik__right {
    fill: #eeebdf;
}