.hero {
    height: 620px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background: url(../images/about-bg.jpg) no-repeat;
    background-size: cover;
    &:before{
        background: url(../images/portfolio.png) no-repeat center 40%;
        content: "";
        position: absolute;
        background-size: 70%;
        width: 100%;
        height: 100%;
        opacity: 0.06;
        z-index: 1;
    }
}

.frame--about {
    width: initial;
    background: transparent;
    height: min-content;
    padding: 40px 10px 90px;
    z-index: 3;
    .frame__name {
        color: #fff;
        margin-top: 25px;
    }
    .frame__subName {
        color: rgba(255, 255, 255, .8);
    }
}

.about-container {
    background: linear-gradient(to right, #efeee9 0%, #efeee9 50%, #efebe0 50%, #efebe0 100%);
    display: block;
    position: relative;
}

.treugolnik {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -10px;
}

.humburger {
    top: 0;
    right: 0;
    position: absolute;
    z-index: 5;
}

.humburger-link {
    width: 100px;
    height: 95px;
    display: block;
    position: relative;
}

.humburger-lines {
    width: 35px;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    right: 30px;
    top: 40px;
    transition: all .2s ease-in-out;
    &:before {
        top: -11px;
        content: "";
        width: 35px;
        height: 4px;
        background-color: #fff;
        border-radius: 2px;
        display: block;
        position: absolute;
        transition: all .2s ease-in-out;
    }
    &:after {
        top: 11px;
        content: "";
        width: 35px;
        height: 4px;
        background-color: #fff;
        border-radius: 2px;
        display: block;
        position: absolute;
        transition: all .2s ease-in-out;
    }
}

.humburger-link--active .humburger-lines {
    background-color: transparent;
    &:before {
        transform: rotate(135deg);
        top: 0;
    }
    &:after {
        transform: rotate(-135deg);
        top: 0;
    }
}

.treugolnik__left,
.treugolnik__right {
    width: 50%;
    height: 150px;
}

.treugolnik__left {
    float: left;
    fill: #efeee9;
}

.treugolnik__right {
    fill: #eeebdf;
}
.arrow-scroll-down{
    display: block;
    position: absolute;
    z-index: 10;
    width: 26px;
    bottom: 70px;
    fill: rgba(255,255,255,0.7);
    left: 50%;
    margin-left: -13px;
    height: 26px;
}
.about-container{
    display: flex;
    width: 100%;
    justify-content: center;
}
.about-left, .about-right{
    width: 50%;
    max-width: 900px;
}
.about-left{
    background: #efeee9;
}
.about-right{
    background: #eeebdf;
}