.hero {
    height: 620px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background: url(../../images/about-bg.jpg) no-repeat;
    background-size: cover;
    &:before {
        background: url(../../images/portfolio.png) no-repeat center 40%;
        content: "";
        position: absolute;
        background-size: 70%;
        width: 100%;
        height: 100%;
        opacity: 0.06;
        z-index: 1;
    }
}

.frame--about {
    width: initial;
    background: transparent;
    height: min-content;
    padding: 40px 10px 90px;
    z-index: 3;
    .frame__name {
        color: #fff;
        margin-top: 25px;
    }
    .frame__subName {
        color: rgba(255, 255, 255, .8);
    }
}

.treugolnik {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -10px;
}

.humburger {
    top: 0;
    right: 0;
    position: absolute;
    z-index: 5;
}

.humburger-link {
    width: 100px;
    height: 95px;
    display: block;
    position: relative;
}

.humburger-lines {
    width: 35px;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    right: 30px;
    top: 40px;
    transition: all .2s ease-in-out;
    &:before {
        top: -11px;
        content: "";
        width: 35px;
        height: 4px;
        background-color: #fff;
        border-radius: 2px;
        display: block;
        position: absolute;
        transition: all .2s ease-in-out;
    }
    &:after {
        top: 11px;
        content: "";
        width: 35px;
        height: 4px;
        background-color: #fff;
        border-radius: 2px;
        display: block;
        position: absolute;
        transition: all .2s ease-in-out;
    }
}

.humburger-link--active .humburger-lines {
    background-color: transparent;
    &:before {
        transform: rotate(135deg);
        top: 0;
    }
    &:after {
        transform: rotate(-135deg);
        top: 0;
    }
}

.treugolnik__left,
.treugolnik__right {
    width: 50%;
    height: 150px;
}

.treugolnik__left {
    float: left;
    fill: #faf8f0;
}

.treugolnik__right {
    fill: #faf8f0;
}

.arrow-scroll-down {
    display: block;
    position: absolute;
    z-index: 3;
    width: 26px;
    bottom: 70px;
    fill: rgba(255, 255, 255, 0.7);
    left: 50%;
    margin-left: -13px;
    height: 26px;
}

.arrows {
    display: block;
    width: 26px;
    fill: rgba(255, 255, 255, 0.7);
    height: 26px;
}

.controls {
    justify-content: center;
    align-items: center;
}

.my-works-container {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    background: #faf8f0;
    flex-direction: column;
    height: 100vh;
}

.about-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}

.about-left,
.about-right {
    width: 50%;
    max-width: 900px;
    justify-content: center;
}

.about-left {
    background: #efeee9;
}

.about-right {
    background: #eeebdf;
}

.about-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.my-works__title {
    font-family: "BERNIERRegular-Regular";
    font-size: 63px;
    color: #373e42;
    width: 100%;
    text-align: center;
    position: relative;
    height: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
        background: url(../../images/works_header.svg) center top no-repeat;
        opacity: 0.07;
        position: absolute;
        z-index: 0;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: -20px;
    }
}

.about-left__info {
    width: 55%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.my-works__title-lines {
    position: relative;
    display: inline-block;
    &:before {
        width: 24px;
        height: 5px;
        background: rgba(55, 62, 66, .2);
        content: "";
        position: absolute;
        top: 35px;
        left: -45px;
    }
    &:after {
        width: 24px;
        height: 5px;
        background: rgba(55, 62, 66, .2);
        content: "";
        position: absolute;
        top: 35px;
        right: -45px;
    }
}

.about-left__who-i-am,
.about-right__title,
.feedback__frame-title {
    font-family: "BERNIERRegular-Regular";
    font-size: 35px;
    color: #455a64;
    width: 100%;
    text-align: center;
    position: relative;
}

.about-left__who-i-am-lines,
.feedback__frame-title-lines {
    position: relative;
    display: inline-block;
    &:before {
        width: 24px;
        height: 5px;
        background: rgba(55, 62, 66, .2);
        content: "";
        position: absolute;
        top: 20px;
        left: -50px;
    }
    &:after {
        width: 24px;
        height: 5px;
        background: rgba(55, 62, 66, .2);
        content: "";
        position: absolute;
        top: 20px;
        right: -50px;
    }
}

.feedback__frame-title-lines {
    &:before {
        left: -40px;
        top: 18px;
    }
    &:after {
        right: -40px;
        top: 18px;
    }
}

.about-left__text,
.about-right__intro {
    font-size: 16px;
    font-family: "RobotoRegular";
    color: #455a64;
    line-height: 24px;
    padding: 0 38px;
}

.about-right__title-lines {
    position: relative;
    display: inline-block;
    &:before {
        width: 24px;
        height: 5px;
        background: rgba(55, 62, 66, .2);
        content: "";
        position: absolute;
        top: 15px;
        left: -50px;
    }
    &:after {
        width: 24px;
        height: 5px;
        background: rgba(55, 62, 66, .2);
        content: "";
        position: absolute;
        top: 15px;
        right: -50px;
    }
}

.about-right__intro {
    padding: 35px 38px 12px;
}

.exp-lines {
    padding-bottom: 70px;
}

.exp-lines__title {
    font-size: 28px;
    font-family: "RobotoMedium";
    color: #455a64;
    padding: 30px 38px 15px;
}

.exp-item {
    display: flex;
    margin-left: 40px;
}

.exp-item__cercle {
    margin-right: 40px;
}

circle.circle-bg {
    fill: transparent;
    stroke: #dfdcd5;
    stroke-width: 20;
    stroke-dasharray: 360 360;
}

circle {
    fill: rgba(156, 205, 50, 0);
    stroke: #16c2aa;
    stroke-width: 20;
    stroke-dasharray: 158 360;
    position: absolute;
    left: 0;
    top: 0;
}

.exp-item__name {
    display: inline-flex;
    position: relative;
    align-items: center;
    .exp-item__name-inner {
        position: absolute;
        font-family: "RobotoMedium";
        width: 100%;
        text-align: center;
        font-size: 14px;
        color: #00bfa5;
    }
}

.footer-container {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

.footer-container__map {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.footer-container__contacts {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container__contacts-frame {
    width: 380px;
    max-width: 90%;
    background: rgba(255, 255, 255, .85);
    padding: 35px 40px 40px;
    box-sizing: border-box;
    border-radius: 5px;
}

.footer-container__contacts-title {
    font-family: "BERNIERRegular-Regular";
    font-size: 35px;
    color: #373e42;
    display: flex;
    justify-content: center;
}

.footer-container__contacts-title-lines {
    position: relative;
    &:before {
        display: block;
        position: absolute;
        left: -40px;
        top: 18px;
        width: 20px;
        height: 5px;
        background: rgba(55, 62, 66, .2);
        content: "";
    }
    &:after {
        display: block;
        position: absolute;
        right: -40px;
        top: 18px;
        width: 20px;
        height: 5px;
        background: rgba(55, 62, 66, .2);
        content: "";
    }
}

.footer-container__contacts-item-link {
    font-size: 16px;
    color: rgba(69, 90, 100, .8);
    font-family: "RobotoMedium";
    line-height: 43px;
    text-decoration: none;
}

.footer-icon {
    width: 16px;
    height: 16px;
}

.footer-container__contacts-item-icon {
    width: 24px;
    height: 24px;
    fill: #00bea4;
    margin-right: 10px;
    margin-bottom: -5px;
}

.footer-container__bottom-line-menu,
.footer-container__bottom-line-social,
.footer-container__bottom-line-1,
.footer-container__bottom-line-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-container__bottom-line {
    width: 100%;
    background: rgba(55, 62, 66, .85);
}

.footer-container__bottom-line-1,
.footer-container__bottom-line-2 {
    justify-content: space-between;
    padding: 20px 25px;
}

.footer-container__bottom-line-1 {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.footer-container__bottom-line-menu-item-link {
    font-family: "RobotoMedium";
    color: #fff;
    font-size: 16px;
    margin-right: 40px;
    line-height: 36px;
    text-decoration: none;
}

.footer-container__bottom-line-tiser,
.footer-container__bottom-line-copyright {
    font-family: "RobotoLight";
    font-size: 16px;
    color: rgba(255, 255, 255, .5);
}

.footer-container__bottom-line-social-item-link {
    display: inline-flex;
    width: 32px;
    height: 32px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .5);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: rgba(255, 255, 255, .5);
    margin-left: 10px;
}

.footer-container__bottom-line-social-item-link:hover {
    display: inline-flex;
    width: 32px;
    height: 32px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: rgba(255, 255, 255, 1);
    margin-left: 10px;
}

.about-left__teaser {
    margin: 35px auto 40px;
    line-height: 52px;
    color: #20b5a1;
    border-top: 1px solid #20b5a1;
    border-bottom: 1px solid #20b5a1;
    text-align: center;
    width: 420px;
    max-width: 90%;
}

.about-left__button {
    padding: 15px;
    background: #00bfa5;
    border-radius: 5px;
    display: inline-block;
    font-family: "RobotoMedium";
    color: #fff;
    font-size: 16px;
    width: fit-content;
    margin: 0 auto;
    text-decoration: none;
}

.link-icon {
    width: 20px;
    height: 20px;
    fill: #fff;
    margin-right: 10px;
    margin-bottom: -5px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2.3fr 1fr;
    height: 100%;
}

.left2x2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background: #f0efe9;
    position: relative;
}

.right2x1 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background: #efebe0;
    position: relative;
}

.right1x1 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
}

.right1x1-2 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
}

.footer-container {
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        background: url(../../images/my-works-bottom-bg.jpg) no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
        content: "";
    }
}

.container__title {
    min-height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 63px;
    color: #373e42;
    font-family: "BERNIERRegular-Regular";
    display: flex;
    position: relative;
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        background: url(../../images/about2.png) no-repeat center;
        width: 100%;
        height: 100%;
        z-index: -1;
        content: "";
        opacity: .1;
    }
}

.container__title-lines {
    text-align: center;
    position: relative;
    display: inline-block;
    &:before {
        width: 24px;
        height: 5px;
        background: rgba(55, 62, 66, .2);
        content: "";
        position: absolute;
        top: 35px;
        left: -45px;
    }
    &:after {
        width: 24px;
        height: 5px;
        background: rgba(55, 62, 66, .2);
        content: "";
        position: absolute;
        top: 35px;
        right: -45px;
    }
}

.reviews {
    width: 100%;
    height: max-content;
    padding-bottom: 70px;
}

.reviews__list {
    display: flex;
    width: 40%;
    margin: 0 auto;
}

.review__list-text {
    color: #455a64;
    font-size: 16px;
    font-family: "RobotoRegular";
    line-height: 26px;
    padding: 25px 25px 25px 0;
}

.review__list-user-photo-container {
    height: 78px;
    width: 78px;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.review__list-user-name {
    color: #20b5a1;
    font-family: "RobotoBold";
    font-size: 16px;
    padding-left: 20px;
}

.review__list-user-status {
    color: #20b5a1;
    font-family: "RobotoRegular";
    font-size: 16px;
    padding-left: 20px;
}

.review__list-user {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.feedback {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.feedback__frame {
    padding: 20px 20px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 5px;
    &:before {
        background: url(../../images/my-works-bottom-bg.jpg) no-repeat center rgba(255, 255, 255, .6);
        filter: blur(20px);
        width: 110%;
        height: 110%;
        position: absolute;
        z-index: -1;
        content: "";
    }
}

.feedback__frame-form-buttons {
    width: 100%;
    display: flex;
    height: 45px;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    .submit {
        width: 50%;
        display: inline-block;
        background: rgba(0, 191, 165, .85);
        border: 0;
        cursor: pointer;
        color: #fff;
        font-family: "RobotoMedium";
        font-size: 16px;
    }
    .reset {
        width: 50%;
        display: inline-block;
        background: rgba(0, 191, 165, .3);
        border: 0;
        cursor: pointer;
        color: #fff;
        font-family: "RobotoMedium";
        font-size: 16px;
    }
}

.feedback__frame {
    width: 380px;
    height: max-content;
}

.feedback__frame-form {
    display: flex;
    flex-direction: column;
}

.feedback__frame-title {
    padding-bottom: 30px;
}

.feedback__frame-form {
    width: 100%;
}

.feedback__frame-form-name,
.feedback__frame-form-email,
.feedback__frame-form-message {
    margin-bottom: 20px;
    display: block;
    padding: 13px;
    background: #fff;
    border: 0;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.to-top {
    padding: 70px 0;
    display: flex;
    justify-content: center;
}

.arrow-scroll-top {
    width: 24px;
    height: 24px;
    fill: rgba(255, 255, 255, .7);
}