.bg-welcome {
    position: absolute;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -50;
    background: url(../images/welcome-bg.jpg) no-repeat center top;
    background-size: cover;
}

.autorize-button {
    position: absolute;
    right: 100px;
    top: 25px;
    z-index: 5;
}

.autorize-button__link {
    width: 180px;
    height: 45px;
    line-height: 45px;
    display: block;
    border-radius: 5px;
    background: rgba(255, 255, 255, .0);
    color: #fff;
    text-decoration: none;
    font-family: "RobotoRegular";
    font-size: 16px;
    border: 1px solid #fff;
    text-align: center;
}

.welcome {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.frame {
    width: 380px;
    max-width: 100%;
    background: rgba(255, 255, 255, 0.85);
    padding: 40px 10px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.frame__ava {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.frame__name {
    color: #455a64;
    font-family: "RobotoMedium";
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    margin: 0;
    margin-top: 15px;
}

.frame__subName {
    color: #455a64;
    font-family: "RobotoRegular";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin: 0;
    margin-top: 5px;
}

.frame__social-list {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.frame__social-item {
    width: 36px;
    height: 36px;
    display: inline-block;
    margin: 0 15px;
}

.icon {
    width: 100%;
    height: 100%;
    fill: #00bfa5;
    opacity: 0.5;
    transition: opacity .2s ease-in-out;
    &:hover {
        opacity: 1;
    }
}

.autorize {
    display: none;
}

.menu {
    width: 380px;
    max-width: 100%;
    display: table;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
}

.menu__item {
    background: rgba(0, 191, 165, .75);
    display: table-cell;
    &:hover {
        background: rgba(0, 150, 136, .59);
    }
    &:nth-child(2) {
        border-left: 1px solid rgba(255, 255, 255, .5);
        border-right: 1px solid rgba(255, 255, 255, .5);
    }
}

.menu__item-link {
    display: block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    font-family: "RobotoRegular";
    font-size: 16px;
    text-decoration: none;
    padding: 0 20px;
}

.footer-copy {
    display: block;
    position: absolute;
    bottom: 35px;
    z-index: 1;
    width: 100%;
    left: 0;
    margin: 0 auto;
    color: #ffffff;
    font-family: "RobotoLight";
    font-size: 16px;
    text-align: center;
}